---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.orcid.org/oauth/token
    body:
      encoding: US-ASCII
      string: client_id=<ORCID_CLIENT_ID>&client_secret=<ORCID_CLIENT_SECRET>&scope=%2Fpremium-notification&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"73f5b675-dff2-42f1-8af2-f9deb9b70c80","token_type":"bearer","refresh_token":"dd51a768-9b45-4822-a61d-12766356dfa9","expires_in":631138518,"scope":"/premium-notification","orcid":null}'
  recorded_at: Thu, 17 Nov 2016 10:49:55 GMT
recorded_with: VCR 3.0.3
