---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v2.1/0000-0001-6827-8074/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1544537349977},"group":[{"last-modified-date":{"value":1544537349977},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.5281/zenodo.59983","external-id-url":null,"external-id-relationship":"SELF"}]},"work-summary":[{"put-code":978559,"created-date":{"value":1544537349977},"last-modified-date":{"value":1544537349977},"source":{"source-orcid":null,"source-client-id":{"uri":"https://sandbox.orcid.org/client/<ORCID_CLIENT_ID>","path":"<ORCID_CLIENT_ID>","host":"sandbox.orcid.org"},"source-name":{"value":"DataCite/ORCID
        Claim Tool"}},"title":{"title":{"value":"Omniauth-Orcid: V.1.1.5"},"subtitle":null,"translated-title":null},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.5281/zenodo.59983","external-id-url":null,"external-id-relationship":"SELF"}]},"type":"OTHER","publication-date":{"year":{"value":"2016"},"month":{"value":"08"},"day":{"value":"11"},"media-type":null},"visibility":"PUBLIC","path":"/0000-0001-6827-8074/work/978559","display-index":"0"}]}],"path":"/0000-0001-6827-8074/works"}'
  recorded_at: Tue, 11 Dec 2018 14:09:11 GMT
recorded_with: VCR 4.0.0
