---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.orcid.org/v2.1/0000-0001-6827-8074/external-identifiers
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <external-identifier:external-identifier xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://www.orcid.org/ns/common" xmlns:external-identifier="http://www.orcid.org/ns/external-identifier" visibility="public" xsi:schemaLocation="http://www.orcid.org/ns/external-identifier ../person-external-identifier-2.1.xsd">
          <common:external-id-type>GitHub</common:external-id-type>
          <common:external-id-value>mfenner</common:external-id-value>
          <common:external-id-url>https://github.com/mfenner</common:external-id-url>
          <common:external-id-relationship>self</common:external-id-relationship>
        </external-identifier:external-identifier>
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <error xmlns="http://www.orcid.org/ns/error">
            <response-code>409</response-code>
            <developer-message>The element 'https://github.com/mfenner' of type 'external-identifier' is duplicated. </developer-message>
            <user-message>The element 'https://github.com/mfenner' of type 'external-identifier' is duplicated. </user-message>
            <error-code>9030</error-code>
            <more-info>https://members.orcid.org/api/resources/troubleshooting</more-info>
        </error>
  recorded_at: Tue, 11 Dec 2018 14:09:13 GMT
recorded_with: VCR 4.0.0
