---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.orcid.org/v1.2/0000-0001-6528-2027/orcid-works/10.5281/zenodo.59983
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.21 - Error report</title><style
        type=\"text/css\">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}.line {height: 1px; background-color:
        #525D76; border: none;}</style> </head><body><h1>HTTP Status 500 - Attempt
        to retrieve a OrcidOauth2TokenDetail with a null or empty token value</h1><div
        class=\"line\"></div><p><b>type</b> Exception report</p><p><b>message</b>
        <u>Attempt to retrieve a OrcidOauth2TokenDetail with a null or empty token
        value</u></p><p><b>description</b> <u>The server encountered an internal error
        that prevented it from fulfilling this request.</u></p><p><b>exception</b></p><pre>java.lang.IllegalArgumentException:
        Attempt to retrieve a OrcidOauth2TokenDetail with a null or empty token value\n\torg.springframework.util.Assert.hasText(Assert.java:162)\n\torg.orcid.persistence.dao.impl.OrcidOauth2TokenDetailDaoImpl.findNonDisabledByTokenValue(OrcidOauth2TokenDetailDaoImpl.java:56)\n\tsun.reflect.GeneratedMethodAccessor3407.invoke(Unknown
        Source)\n\tsun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tjava.lang.reflect.Met[...]
