---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,description,datacentre,datacentre_symbol,prefix,relatedIdentifier,xml,minted,updated&q=doi:10.5281/zenodo.59983&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":4},"response":{"numFound":1,"start":0,"docs":[{"minted":"2016-08-11T04:47:51Z","datacentre_symbol":"CERN.ZENODO","xml":"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTI4MS96ZW5vZG8uNTk5ODM8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5NYXJ0aW4gRmVubmVyPC9jcmVhdG9yTmFtZT4KICAgICAgPGFmZml[...]
- request:
    method: post
    uri: https://api.sandbox.orcid.org/v1.2/0000-0001-6528-2027/orcid-works
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <orcid-message xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.orcid.org/ns/orcid" xsi:schemaLocation="http://www.orcid.org/ns/orcid https://raw.github.com/ORCID/ORCID-Source/master/orcid-model/src/main/resources/orcid-message-1.2.xsd">
          <message-version>1.2</message-version>
          <orcid-profile>
            <orcid-activities>
              <orcid-works>
                <orcid-work>
                  <work-title>
                    <title>omniauth-orcid: v.1.1.5</title>
                  </work-title>
                  <journal-title>Zenodo</journal-title>
                  <short-description>&lt;p&gt;&lt;a href="https://github.com/datacite/omniauth-orcid/releases/tag/v.1.1.5"&gt;onmiauth-orcid 1.1.5&lt;/a&gt; was released on August 11, 2016 with the following changes:&lt;/p&gt;

        &lt;ul&gt;
        &lt;li&gt;compatibility with omniauth-oauth2 1.4.0. Thanks to pull request &lt;a href="https://github.com/datacite/omniauth-orcid/pull/7"&gt;#7&lt;/a&gt; by &lt;a href="https://github.com/eleanorakh"&gt;eleanorakh&lt;/a&gt;.&lt;/li&gt;
        &lt;/ul&gt;</short-description>
                  <work-citation>
                    <work-citation-type>bibtex</work-citation-type>
                    <citation>@data{https://doi.org/10.5281/zenodo.59983, author = {Fenner, Martin and Thorisson, Gudmundur A. and Haggerty, Eleanor Kiefel and Ranganathan, Anusha}, title = {omniauth-orcid: v.1.1.5}, publisher = {Zenodo}, doi = {10.5281/zenodo.59983}, url = {https://doi.org/10.5281/zenodo.59983}, year = {2016}}</citation>
                  </work-citation>
                  <work-type>other</work-type>
                  <publication-date>
                    <year>2016</year>
                  </publication-date>
                  <work-external-identifiers>
                    <work-external-identifier>
                      <work-external-identifier-type>doi</work-external-identifier-type>
                      <work-external-identifier-id>10.5281/zenodo.59983</work-external-identifier-id>
                    </work-external-identifier>
                  </work-external-identifiers>
                  <work-contributors>
                    <contributor>
                      <credit-name>Martin Fenner</credit-name>
                    </contributor>
                    <contributor>
                      <credit-name>Gudmundur A. Thorisson</credit-name>
                    </contributor>
                    <contributor>
                      <credit-name>Eleanor Kiefel Haggerty</credit-name>
                    </contributor>
                    <contributor>
                      <credit-name>Anusha Ranganathan</credit-name>
                    </contributor>
                  </work-contributors>
                </orcid-work>
              </orcid-works>
            </orcid-activities>
          </orcid-profile>
        </orcid-message>
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/orcid+xml
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.21 - Error report</title><style
        type=\"text/css\">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}.line {height: 1px; background-color:
        #525D76; border: none;}</style> </head><body><h1>HTTP Status 500 - Attempt
        to retrieve a OrcidOauth2TokenDetail with a null or empty token value</h1><div
        class=\"line\"></div><p><b>type</b> Exception report</p><p><b>message</b>
        <u>Attempt to retrieve a OrcidOauth2TokenDetail with a null or empty token
        value</u></p><p><b>description</b> <u>The server encountered an internal error
        that prevented it from fulfilling this request.</u></p><p><b>exception</b></p><pre>java.lang.IllegalArgumentException:
        Attempt to retrieve a OrcidOauth2TokenDetail with a null or empty token value\n\torg.springframework.util.Assert.hasText(Assert.java:162)\n\torg.orcid.persistence.dao.impl.OrcidOauth2TokenDetailDaoImpl.findNonDisabledByTokenValue(OrcidOauth2TokenDetailDaoImpl.java:56)\n\tsun.reflect.GeneratedMethodAccessor3407.invoke(Unknown
        Source)\n\tsun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tjava.lang.reflect.Met[...]
