---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5281
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0411b3916b13b0c38e2c133d6e9905e2"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5281","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:13Z"}}}'
  recorded_at: Tue, 20 Jun 2017 08:46:53 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,xml,media,minted,updated&q=doi:10.5281/zenodo.59983&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"xml":"PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0ndXRmLTgnPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTI4MS96ZW5vZG8uNTk5ODM8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5[...]
- request:
    method: put
    uri: https://api.sandbox.orcid.org/v2.0/0000-0001-6528-2027/work/837845
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <work:work xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://www.orcid.org/ns/common" xmlns:work="http://www.orcid.org/ns/work" put-code="837845" visibility="public" xsi:schemaLocation="http://www.orcid.org/ns/work ../work-2.0.xsd">
          <work:title>
            <common:title>Omniauth-Orcid: V.1.1.5</common:title>
          </work:title>
          <work:journal-title>Zenodo</work:journal-title>
          <work:short-description>onmiauth-orcid 1.1.5 was released on August 11, 2016 with the following changes: compatibility with omniauth-oauth2 1.4.0. Thanks to pull request #7 by eleanorakh.</work:short-description>
          <work:type>other</work:type>
          <common:publication-date>
            <common:year>2016</common:year>
            <common:month>08</common:month>
            <common:day>11</common:day>
          </common:publication-date>
          <common:external-ids>
            <common:external-id>
              <common:external-id-type>doi</common:external-id-type>
              <common:external-id-value>10.5281/zenodo.59983</common:external-id-value>
              <common:external-id-relationship>self</common:external-id-relationship>
            </common:external-id>
          </common:external-ids>
          <work:contributors>
            <work:contributor>
              <work:credit-name>Martin Fenner</work:credit-name>
            </work:contributor>
            <work:contributor>
              <work:credit-name>Gudmundur A. Thorisson</work:credit-name>
            </work:contributor>
            <work:contributor>
              <work:credit-name>Eleanor Kiefel Haggerty</work:credit-name>
            </work:contributor>
            <work:contributor>
              <work:credit-name>Anusha Ranganathan</work:credit-name>
            </work:contributor>
          </work:contributors>
        </work:work>
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <work:work put-code="837845" visibility="public" xmlns:internal="http://www.orcid.org/ns/internal" xmlns:funding="http://www.orcid.org/ns/funding" xmlns:preferences="http://www.orcid.org/ns/preferences" xmlns:address="http://www.orcid.org/ns/address" xmlns:education="http://www.orcid.org/ns/education" xmlns:work="http://www.orcid.org/ns/work" xmlns:deprecated="http://www.orcid.org/ns/deprecated" xmlns:other-name="http://www.orcid.org/ns/other-name" xmlns:history="http://www.orcid.org/ns/history" xmlns:employment="http://www.orcid.org/ns/employment" xmlns:error="http://www.orcid.org/ns/error" xmlns:common="http://www.orcid.org/ns/common" xmlns:person="http://www.orcid.org/ns/person" xmlns:activities="http://www.orcid.org/ns/activities" xmlns:record="http://www.orcid.org/ns/record" xmlns:researcher-url="http://www.orcid.org/ns/researcher-url" xmlns:peer-review="http://www.orcid.org/ns/peer-review" xmlns:personal-details="http://www.orcid.org/ns/personal-details" xmlns:bulk="http://www.orcid.org/ns/bulk" xmlns:keyword="http://www.orcid.org/ns/keyword" xmlns:email="http://www.orcid.org/ns/email" xmlns:external-identifier="http://www.orcid.org/ns/external-identifier">
            <common:created-date>2017-06-20T08:44:34.973Z</common:created-date>
            <common:last-modified-date>2017-06-20T08:44:34.973Z</common:last-modified-date>
            <common:source>
                <common:source-client-id>
                    <common:uri>http://sandbox.orcid.org/client/<ORCID_CLIENT_ID></common:uri>
                    <common:path><ORCID_CLIENT_ID></common:path>
                    <common:host>sandbox.orcid.org</common:host>
                </common:source-client-id>
                <common:source-name>DataCite/ORCID Claim Tool</common:source-name>
            </common:source>
            <work:title>
                <common:title>Omniauth-Orcid: V.1.1.5</common:title>
            </work:title>
            <work:journal-title>Zenodo</work:journal-title>
            <work:short-description>onmiauth-orcid 1.1.5 was released on August 11, 2016 with the following changes: compatibility with omniauth-oauth2 1.4.0. Thanks to pull request #7 by eleanorakh.</work:short-description>
            <work:t[...]
