---
http_interactions:
- request:
    method: get
    uri: http://search.datacite.org/api?fl=doi,creator,title,publisher,publicationYear,resourceTypeGeneral,description,datacentre,datacentre_symbol,prefix,relatedIdentifier,xml,minted,updated&q=doi:10.5281/zenodo.59983&rows=1&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"minted":"2016-08-11T04:47:51Z","datacentre_symbol":"CERN.ZENODO","xml":"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTI4MS96ZW5vZG8uNTk5ODM8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5NYXJ0aW4gRmVubmVyPC9jcmVhdG9yTmFtZT4KICAgICAgPGFmZml[...]
- request:
    method: put
    uri: https://api.sandbox.orcid.org/v2.0_rc3/0000-0001-6528-2027/work/740616
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <work:work xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:common="http://www.orcid.org/ns/common" xmlns:work="http://www.orcid.org/ns/work" put-code="740616" visibility="public" xsi:schemaLocation="http://www.orcid.org/ns/work ../work-2.0_rc3.xsd">
          <work:title>
            <common:title>omniauth-orcid: v.1.1.5</common:title>
          </work:title>
          <work:journal-title>Zenodo</work:journal-title>
          <work:short-description>onmiauth-orcid 1.1.5 was released on August 11, 2016 with the following changes: compatibility with omniauth-oauth2 1.4.0. Thanks to pull request #7 by eleanorakh.</work:short-description>
          <work:type>other</work:type>
          <common:publication-date>
            <common:year>2016</common:year>
          </common:publication-date>
          <common:external-ids>
            <common:external-id>
              <common:external-id-type>doi</common:external-id-type>
              <common:external-id-value>10.5281/zenodo.59983</common:external-id-value>
              <common:external-id-relationship>self</common:external-id-relationship>
            </common:external-id>
          </common:external-ids>
          <work:contributors>
            <work:contributor>
              <work:credit-name>Martin Fenner</work:credit-name>
            </work:contributor>
            <work:contributor>
              <work:credit-name>Gudmundur A. Thorisson</work:credit-name>
            </work:contributor>
            <work:contributor>
              <work:credit-name>Eleanor Kiefel Haggerty</work:credit-name>
            </work:contributor>
            <work:contributor>
              <work:credit-name>Anusha Ranganathan</work:credit-name>
            </work:contributor>
          </work:contributors>
        </work:work>
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <work:work put-code="740616" visibility="public" xmlns:internal="http://www.orcid.org/ns/internal" xmlns:funding="http://www.orcid.org/ns/funding" xmlns:preferences="http://www.orcid.org/ns/preferences" xmlns:address="http://www.orcid.org/ns/address" xmlns:education="http://www.orcid.org/ns/education" xmlns:work="http://www.orcid.org/ns/work" xmlns:deprecated="http://www.orcid.org/ns/deprecated" xmlns:other-name="http://www.orcid.org/ns/other-name" xmlns:history="http://www.orcid.org/ns/history" xmlns:employment="http://www.orcid.org/ns/employment" xmlns:error="http://www.orcid.org/ns/error" xmlns:common="http://www.orcid.org/ns/common" xmlns:person="http://www.orcid.org/ns/person" xmlns:activities="http://www.orcid.org/ns/activities" xmlns:record="http://www.orcid.org/ns/record" xmlns:researcher-url="http://www.orcid.org/ns/researcher-url" xmlns:peer-review="http://www.orcid.org/ns/peer-review" xmlns:personal-details="http://www.orcid.org/ns/personal-details" xmlns:keyword="http://www.orcid.org/ns/keyword" xmlns:email="http://www.orcid.org/ns/email" xmlns:external-identifier="http://www.orcid.org/ns/external-identifier">
            <common:created-date>2016-11-18T14:41:50.707Z</common:created-date>
            <common:last-modified-date>2016-11-18T14:41:50.707Z</common:last-modified-date>
            <common:source>
                <common:source-client-id>
                    <common:uri>http://sandbox.orcid.org/client/<ORCID_CLIENT_ID></common:uri>
                    <common:path><ORCID_CLIENT_ID></common:path>
                    <common:host>sandbox.orcid.org</common:host>
                </common:source-client-id>
                <common:source-name>DataCite/ORCID Claim Tool</common:source-name>
            </common:source>
            <work:title>
                <common:title>omniauth-orcid: v.1.1.5</common:title>
            </work:title>
            <work:journal-title>Zenodo</work:journal-title>
            <work:short-description>onmiauth-orcid 1.1.5 was released on August 11, 2016 with the following changes: compatibility with omniauth-oauth2 1.4.0. Thanks to pull request #7 by eleanorakh.</work:short-description>
            <work:t[...]
