---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.orcid.org/v2.1/0000-0001-6827-8074/work/921977
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <error xmlns="http://www.orcid.org/ns/error">
            <response-code>404</response-code>
            <developer-message>404 Not Found: The resource was not found. Full validation error: No entity found for query</developer-message>
            <user-message>The resource was not found.</user-message>
            <error-code>9016</error-code>
            <more-info>https://members.orcid.org/api/resources/troubleshooting</more-info>
        </error>
  recorded_at: Tue, 11 Dec 2018 14:09:13 GMT
recorded_with: VCR 4.0.0
