---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.orcid.org/v2.1/0000-0001-6528-2027/notification-permission/292000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.orcid+xml
      Authorization:
      - Bearer <NOTIFICATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.orcid+xml; qs=5;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <notification:notification put-code="292000" xmlns:internal="http://www.orcid.org/ns/internal" xmlns:funding="http://www.orcid.org/ns/funding" xmlns:preferences="http://www.orcid.org/ns/preferences" xmlns:address="http://www.orcid.org/ns/address" xmlns:education="http://www.orcid.org/ns/education" xmlns:work="http://www.orcid.org/ns/work" xmlns:deprecated="http://www.orcid.org/ns/deprecated" xmlns:other-name="http://www.orcid.org/ns/other-name" xmlns:history="http://www.orcid.org/ns/history" xmlns:employment="http://www.orcid.org/ns/employment" xmlns:error="http://www.orcid.org/ns/error" xmlns:notification="http://www.orcid.org/ns/notification" xmlns:common="http://www.orcid.org/ns/common" xmlns:person="http://www.orcid.org/ns/person" xmlns:activities="http://www.orcid.org/ns/activities" xmlns:record="http://www.orcid.org/ns/record" xmlns:researcher-url="http://www.orcid.org/ns/researcher-url" xmlns:peer-review="http://www.orcid.org/ns/peer-review" xmlns:personal-details="http://www.orcid.org/ns/personal-details" xmlns:bulk="http://www.orcid.org/ns/bulk" xmlns:keyword="http://www.orcid.org/ns/keyword" xmlns:email="http://www.orcid.org/ns/email" xmlns:external-identifier="http://www.orcid.org/ns/external-identifier">
            <notification:notification-type>permission</notification:notification-type>
            <notification:authorization-url>
                <notification:uri>https://sandbox.orcid.org/oauth/authorize?client_id=<ORCID_CLIENT_ID>&amp;response_type=code&amp;scope=/read-limited%20/activities/update%20/person/update&amp;redirect_uri=http://localhost:8080/users/auth/orcid/callback</notification:uri>
                <notification:path>/oauth/authorize?client_id=<ORCID_CLIENT_ID>&amp;response_type=code&amp;scope=/read-limited%20/activities/update%20/person/update&amp;redirect_uri=http://localhost:8080/users/auth/orcid/callback</notification:path>
                <notification:host>sandbox.orcid.org</notification:host>
            </notification:authorization-url>
            <notification:notification-subject>Request to add a work</notification:notification-subject>
            <notification:notification-intro>This is an intro</notification:notification-intro>
            <notification:items>
                <notification:item>
                    <notification:item-type>work</notification:item-type>
                    <notification:item-name>Omniauth-Orcid: V.1.1.5</notification:item-name>
                    <common:external-id/>
                </notification:item>
            </notification:items>
            <common:created-date>2018-04-11T20:53:37.948Z</common:created-date>
            <common:source>
                <common:source-client-id>
                    <common:uri>http://sandbox.orcid.org/client/<ORCID_CLIENT_ID></common:uri>
                    <common:path><ORCID_CLIENT_ID></common:path>
                    <common:host>sandbox.orcid.org</common:host>
                </common:source-client-id>
                <common:source-name>DataCite/ORCID Claim Tool</common:source-name>
            </common:source>
        </notification:notification>
  recorded_at: Wed, 11 Apr 2018 20:55:13 GMT
recorded_with: VCR 4.0.0
